*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
}
header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
header, footer{
    width: 100%;
    height: 50px;
}
header {
    background: rgba(10, 90, 50, 0.1);
    font-size: 20px;
    font-family: "Comic Sans MS";
    font-weight: 500;
    flex-direction: row;
}
footer{
    background: linear-gradient(to top, #d7d4d7, #fff9fa);
}

.intro{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.language {
    justify-content: left;
    flex-direction: row;
    font-size: 15px;
    margin-right: 10px;
}
.language-item{
    cursor: pointer;
    display: flex;
    padding: 0 5px;
    text-decoration: none;
    border-radius: 5px;
}

.main{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: calc(100% - 100px);
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 40px;
    border: 1px black solid;
    background-color: #faf9fd;
    margin-top: 20px;
}
.menu-item{
    cursor: pointer;
    display: flex;
    width: auto;
    background-color: initial;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    align-items: center;
}
.menu-item:hover, .language-item:hover{
    background-color: black;
    color: white;
}

*:focus {
    outline: none;
}

.result{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}