.user{
    display: flex;
    width: 70%;
    justify-content: center;
}
.user-type{
    display: flex;
    flex-direction: row;
}
.user-type-link{
    margin: 0px 5px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid grey;
    border-top: 1px solid white;
}
.user-type-link:hover{
    border-bottom: 2px solid blue;
    border-top: 0 solid white;
}

.user-view{
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
table.user-table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #3A3A3A;
    border-collapse: collapse;
}

table.user-table th {
    border: 1px solid #517994;
    padding: 8px;
    background-color: #B2CFD8;
}

table.user-table tr:hover td {
    background-color: #DFEBF1;
}

table.user-table td {
    border: 1px solid #517994;
    padding: 8px;
    background-color: #ffffff;
}
.user-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.user-page-link{
    text-decoration: none;
    color: black;
    margin: 0 5px;
    padding: 2px 5px;
    border: 1px #97ffff solid;
    border-radius: 5px;
}
.user-page-link:hover{
    background-color: #97FFFF;
}

.user-add{
    width: 30%;
    display: flex;
    justify-content: center;
}
.user-add-form{
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 400px;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: white;
    border-radius: 40px;
}

h1 {
    color: #ff4a56;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.question{
    position: relative;
    padding: 10px 0;
}

.user-add-form-input{
    -webkit-appearance: none;
    border: 1px solid #ff4a56;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #ff4a56;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

.user-add-form-input, .user-add-form-label {
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}
.user-add-form-label {
    transform-origin: left center;
    color: #ff4a56;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 15px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}

input.user-add-form-input:focus{
    outline: none;
    background: #ff4a56;
    color: white;
    margin-top: 20px;
}
input.user-add-form-input:valid{
    margin-top: 25px;
}
input.user-add-form-input:focus~label{
    transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
}

input.user-add-form-input:valid~label{
    text-transform: uppercase;
    font-style: italic;
    transform: translate(5px, -35px) scale(0.6);
}
.user-add-form button{
    background-color: rgba(255, 74, 86, 0.07);
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #ff4a56;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    padding: 20px 15px;
    border-radius: 60px;
    color: #ff4a56;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
.user-add-form button:hover, .user-add-form button:focus{
    color: white;
    background-color: #ff4a56;
}